<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="normalcontainer"><h1>Submit Your Score</h1></div>
        <div class="normalcontainer">
            <form method="POST">
            Name: <input type="text" name="name" required>
            Last name: <input type="text" name="lastname" requred>
            Score: <input type="number" name="score" required>
            <input type="submit" value="Submit" class="buttonbutton">
        </form>
    </div>
    <div class="normalcontainer">
        <h2>Hall of Fame</h2>
        <ul>
            {% for name, lastname, score in entries %}
                {% if score | int > 1000 %}
                    <li>{{ name }} {{lastname}}: {{ score }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="normalcontainer">
    <h2>Leaderboard</h2>
    <ul>
        {% for name, lastname, score in entries %}
                <li>{{ name }} {{lastname}}: {{ score }}</li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>
