<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap" rel="stylesheet"> <!-- This gets a custom font-->
</head>
<body>
            <div class="normalcontainer Webtitle">
            <span class="title">Project Cyber</span>
            <label class="switch">
                <input id="toggler" type="checkbox">
                <img class="pressbutton" id="toggleicon" src="{{ url_for('static', filename='images/Sun.png') }}"  alt="sun moon icon"> <!--Default is light, so sun.png, javascript swap it for moon.png when toggled-->
            </label>
        </div>

        <div class="Navigationbar normalcontainer">
            <a href="{{ url_for('static', filename='homepage.html') }}">Home</a><!--This is a hyperlink-->
            <a href="{{ url_for('static', filename='cybervault.html') }}">Cybervault</a>
            <a href="{{ url_for('static', filename='phish_or_phish.html') }}">Phish or fish</a>
            <a href="{{ url_for('static', filename='securityspace.html') }}">Securityspace</a>
            <a href="/">Scores</a>
        </div>

    <div class="normalcontainer"><h1>Submit Your Score</h1></div>
        <div class="normalcontainer">
            <form method="POST">
            Name: <input type="text" name="name" required>
            Last name: <input type="text" name="lastname" required>
            Score: <input type="number" name="score" min="0" required>
            <input type="submit" value="Submit" class="buttonbutton">
        </form>
    </div>
    <div class="normalcontainer">
        <h1>Hall of Fame</h1>
        <table>
            <tr>
                <th>Rank</th><th>Name</th><th>Last Name</th><th>Score</th>
            </tr>
            {% for name, lastname, score in entries %}
                {% if score | int > 1000 %}
            <tr>
                <td>{{loop.index}}.</td><td>{{ name }}</td> <td>{{lastname}}</td> <td>{{ score }}</td>
            </tr>
                {% endif %}
            {% endfor %}    
        </table>

    </div>

    <div class="normalcontainer">
        
        <div class="orderby normalcontainer">

            <div class="dropdown">
                <button class="dropdownbutton">Sort By: {{ request.args.get('sort', 'score') | title }}</button>
                <div class="dropdowncontent">
                    <a href="/?sort=score&order={{ request.args.get('order', 'desc') }}">Score</a>
                    <a href="/?sort=name&order={{ request.args.get('order', 'desc') }}">Name</a> <!--Keeps the order ascending/descending-->
                </div>
            </div>

            <a href="/?order=asc&sort={{ request.args.get('sort', 'score') }}" title="ascending">🔼</a>
            <a href="/?order=desc&sort={{ request.args.get('sort', 'score') }}" title="descending">🔽</a>

            </div>

    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Rank</th><th>Name</th><th>Last Name</th><th>Score</th>
        </tr>
        {% for name, lastname, score in entries %}
        <tr>
            <td>{{loop.index}}.</td><td>{{ name }}</td> <td>{{lastname}}</td> <td>{{ score }}</td>
        </tr>
        {% endfor %}    
    </table>
    </div>
</body>
</html>
